form{
  background-color: #ffffff22;
  filter: blur(80%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em;
  border-radius: 25px;
  text-align: center;
}
h1,h2,label{
  margin: 0;
  color: #aaa;
  text-shadow: #111 4px 4px 15px;
}
form>*{
  padding: .5em;
}
input,textarea{
  border-radius: 5px;
  color: var(--primary);
  border: currentColor;
  background-color: #ffffff22;
  filter: blur(80%);
}
button, input[type=checkbox]{
  border-radius: 25px;
  background: var(--primary);
  font-size: x-large;
  cursor: pointer;
  color: var(--secondary);
  border: currentColor .01em solid;
  transition: 1s ease;
}
button:hover{
  background: transparent;
}